body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #0c0c0c;
    color: #00ff00;
    /* font-family: 'Ubuntu Mono', monospace; */
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
}

.container {
    max-width: 1600px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #00ff00;
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
    font-size: 2em;
}

.tabs {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.tab {
    background: none;
    border: none;
    color: #00ff00;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.2em;
    margin: 0 10px;
    padding: 5px 10px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: background-color 0.5s ease-out, border-radius 0.5s ease-out;
}

.tab::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(0, 255, 0, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease-out;
}

.tab:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.tab.active {
    background: rgba(0, 255, 0, 0.2);
    border-radius: 10px;
}

.content {
    display: none;
    text-align: left;
}

.content.active {
    display: block;
}

.entry {
    margin-bottom: 10px;
    cursor: pointer;
    padding-left: 100px;
    padding-right: 100px;
}

.entry-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex-wrap: nowrap;
}

.title {
    text-align: left;
    padding-right: 10px;
    flex-grow: 1;
    font-weight: bold;
}

.date-location {
    white-space: nowrap;
    text-align: right;
    color: #008800;
    margin-left: auto;
}

.dropdown {
    overflow: hidden;
    padding-left: 20px;
    background-color: #1a1a1a;
    color: #ffffff;
    border-left: 1px solid #00ff00;
    position: relative;
    height: 0;
    opacity: 0;
}

.dropdown.show {
    opacity: 1;
}

.dropdown-content {
    font-weight: lighter;
    padding-top: 10px;
}

.dropdown-content video,
img {
    display: block;
    padding-top: 15px;
    margin: 0 auto;
}

.blinking-cursor {
    font-weight: lighter;
    color: #00ff00;
    animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.reset-btn {
    background-color: transparent;
    border: none;
    color: #ffff00;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.9em;
    font-family: ‘Courier New’, monospace;
}

.reset-btn .cyan-text {
    color: #00ffff;
}

a {
    color: #00ff00;
    text-decoration: none;
    font-size: 1em;
}

a:hover {
    text-decoration: underline;
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

video {
    position: relative;
    z-index: 1;
}

.blink {
    position: fixed;
    width: 2px;
    height: 2px;
    background-color: #00ff00;
    border-radius: 50%;
    opacity: 0;
    z-index: 0;
}

.profile-links {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: right;
    transition: right 0.5s ease;
}

.profile-links a {
    display: block;
    margin-top: 5px;
    font-size: 1em;
}

.profile-links.collapsed {
    right: -120px; /* Adjust this value based on the width of your profile links */
}

.profile-links .expand-arrow {
    display: none;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #00ff00;
    font-size: 1.5em;
    font-family: 'Courier New', monospace;
    background: #1a1a1a; /* Match the dropdown background */
    border: 1px solid #00ff00; /* Green border to match the text color */
    border-radius: 5px; /* Rounded corners for a modern look */
    padding: 2.5px;
    transition: background 0.3s ease, border 0.3s ease; /* Smooth transitions */
    line-height: 1; /* Ensure line-height doesn't affect vertical centering */
}

.profile-links .expand-arrow:hover {
    background: #00ff00; /* Green background on hover */
    color: #1a1a1a; /* Dark text color on hover */
    border-color: #1a1a1a; /* Dark border on hover */
}

.profile-links.collapsed .expand-arrow {
    display: block;
}

.fa-link,
.fa-github {
    margin-right: 5px;
}

.music-description {
    text-align: center;
    padding: 0 40px;
}

.soundcloud-block {
    margin-bottom: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.soundcloud-info {
    text-align: center;
    font-family: ‘Courier New’, monospace;
    color: #00ff00;
    font-size: 12px;
}

.soundcloud-link {
    color: #00ff00;
    text-decoration: none;
}

.soundcloud-link:hover {
    text-decoration: underline;
    font-weight: lighter;
}

.company-logo {
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    background-color: transparent;
}


@media (max-width: 1350px) {

    /* body,
    html {
        font-size: 1.01em;
    } */

    .tabs {
        display: flex;
        flex-direction: row;
        justify-content: center; /* Center the tabs horizontally */
        flex-wrap: wrap; /* Allow tabs to wrap to the next line if needed */
    }

    .tab {
        margin: 5px; /* Add some margin to space out the tabs */
        width: auto; /* Let the tabs take their natural width */
        text-align: center;
    }

    .entry {
        padding-left: 40px; /* Adjust padding as needed */
        padding-right: 40px; /* Adjust padding as needed */
    }

    .profile-links {
        bottom: 10px;
        right: 10px;
    }
}

/* Styles for screens smaller than 1200px */
@media (max-width: 1200px) {
    .entry {
        padding-left: 60px;
        padding-right: 60px;
    }

    .entry-header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .title, .date-location {
        width: 100%;
        text-align: center;
    }
}

/* Styles for screens smaller than 1000px */
@media (max-width: 1000px) {
    .entry {
        padding-left: 20px;
        padding-right: 20px;
    }

    .entry-header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .title, .date-location {
        width: 100%;
        text-align: center;
    }
}


/* Styles for screens smaller than 730px */
@media (max-width: 730px) {
      body,
    html {
        font-size: 1.01em;
    }
    
    .entry {
        padding-left: 20px;
        padding-right: 20px;
    }

    .entry-header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .title, .date-location {
        width: 100%;
        text-align: center;
    }
}

/* Styles for screens smaller than 550px */
@media (max-width: 550px) {
    .tabs {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center the tabs vertically */
        margin-bottom: 20px; /* Add margin between tabs */
    }

    .tab {
        margin: 10px 0; /* Add margin between tabs */
        width: 35%; /* Make tabs take full width */
        text-align: center;
    }

    .entry {
        padding-left: 10px; /* Adjust padding as needed */
        padding-right: 10px; /* Adjust padding as needed */
    }

    .entry-header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .title, .date-location {
        width: 100%;
        text-align: center;
    }

    .profile-links {
        bottom: 10px;
        right: 10px;
    }

    .dropdown-content video,
    .dropdown-content img {
        max-width: 90%; /* Make videos and images fit within the screen */
        height: auto; /* Maintain aspect ratio */
        margin: 10px 0; /* Add margin to separate them from other content */
    }
}

/* Add these styles to your CSS */

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    margin: auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 400px;
    height: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 25px; /* Make the arrows thinner */
    height: 25px; /* Adjust height to match width */
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5); /* Slightly transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.next {
    right: 10px;
}

.prev {
    left: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 255, 0, 0.7); /* Change background color on hover */
}
