body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #0c0c0c;
    color: #00ff00;
    /* font-family: 'Ubuntu Mono', monospace; */
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    position: relative;
    z-index: 0;
}

.container {
    min-height: auto; /* Ensure it's not set to 100vh or a large fixed value */
    height: auto;
    width: 100%;
    text-align: center;
}

.container p {
    font-size: 0.85em;
}

h1 {
    color: #00ff00;
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
    font-size: 2em;
}

.tabs {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.tab {
    background: none;
    border: none;
    color: #00ff00;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.2em;
    margin: 0 10px;
    padding: 5px 10px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: background-color 0.5s ease-out, border-radius 0.5s ease-out;
}

.tab::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(0, 255, 0, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease-out;
}

.tab:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.tab.active {
    background: rgba(0, 255, 0, 0.2);
    border-radius: 10px;
}

.content {
    display: none;
    text-align: left;
}

.content.active {
    display: block;
}

.entry {
    margin-bottom: 10px;
    cursor: pointer;
    padding-left: 100px;
    padding-right: 100px;
    opacity: 0;
    /* Start with entries hidden */
    transition: opacity 0.5s ease-in-out;
    /* Smooth fade-in effect */
}

.entry.fade-in {
    opacity: 1;
    /* Fully visible */
}



.entry-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex-wrap: nowrap;
}

.title {
    text-align: left;
    padding-right: 10px;
    flex-grow: 1;
    font-weight: bold;
}

.date-location {
    white-space: nowrap;
    text-align: right;
    color: #008800;
    margin-left: auto;
}

.dropdown {
    overflow: hidden;
    padding-left: 20px;
    background-color: #1a1a1a;
    color: #ffffff;
    border-left: 1px solid #00ff00;
    position: relative;
    height: 0;
    opacity: 0;
}

.dropdown.show {
    opacity: 1;
}

.dropdown-content {
    font-weight: lighter;
    padding-top: 10px;
}

.dropdown-content video,
img {
    display: block;
    padding-top: 15px;
    margin: 0 auto;
}

.blinking-cursor {
    font-weight: lighter;
    color: #00ff00;
    animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}


a {
    color: #00ff00;
    text-decoration: none;
    font-size: 1em;
}

a:hover {
    text-decoration: underline;
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

video {
    position: relative;
    z-index: 1;
}

.blink {
    position: fixed;
    width: 2px;
    height: 2px;
    background-color: #00ff00;
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
}

.profile-links {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: right;
    transition: right 0.5s ease;
}

.profile-links a {
    display: block;
    margin-top: 5px;
    font-size: 1em;
    color: #00ff00;
    text-decoration: none;
    transition: font-weight 0.15s ease;
    /* Smooth transition for font-weight */
}

.profile-links a:hover {
    font-weight: bold;
    /* Add bold font-weight on hover */
}

.profile-links.collapsed {
    right: -120px;
    /* Adjust this value based on the width of your profile links */
}

.profile-links .expand-arrow {
    display: none;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #00ff00;
    font-size: 1.5em;
    font-family: 'Courier New', monospace;
    background: #1a1a1a;
    /* Match the dropdown background */
    border: 1px solid #00ff00;
    /* Green border to match the text color */
    border-radius: 5px;
    /* Rounded corners for a modern look */
    padding: 2.5px;
    transition: background 0.3s ease, border 0.3s ease;
    /* Smooth transitions */
    line-height: 1;
    /* Ensure line-height doesn't affect vertical centering */
}

.profile-links .expand-arrow:hover {
    background: #00ff00;
    /* Green background on hover */
    color: #1a1a1a;
    /* Dark text color on hover */
    border-color: #1a1a1a;
    /* Dark border on hover */
}

.profile-links.collapsed .expand-arrow {
    display: block;
}

.profile-links a::before {
    display: none;
    margin-right: 5px;
}

.profile-links a:hover::before {
    display: none;
}

.profile-links a[href*="linkedin.com"]:hover::before {
    content: none;
}

.profile-links a[href*="github.com"]:hover::before {
    content: none;
}

.profile-links a[href*="mailto:"]:hover::before {
    content: none;
}

.fa-link,
.fa-github {
    margin-right: 5px;
}

.soundcloud-block {
    margin-bottom: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.soundcloud-info {
    text-align: center;
    font-family: 'Courier New', monospace;
    color: #00ff00;
    font-size: 12px;
}

.soundcloud-link {
    color: #00ff00;
    text-decoration: none;
}

.soundcloud-link:hover {
    text-decoration: underline;
    font-weight: lighter;
}

.company-logo {
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    background-color: transparent;
}

@media (max-width: 1350px) {

    /* body,
    html {
        font-size: 1.01em;
    } */

    .tabs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* Center the tabs horizontally */
        flex-wrap: wrap;
        /* Allow tabs to wrap to the next line if needed */
    }

    .tab {
        margin: 5px;
        /* Add some margin to space out the tabs */
        width: auto;
        /* Let the tabs take their natural width */
        text-align: center;
    }

    .entry {
        padding-left: 40px;
        /* Adjust padding as needed */
        padding-right: 40px;
        /* Adjust padding as needed */
    }

    .profile-links {
        bottom: 10px;
        right: 10px;
    }
}

/* Styles for screens smaller than 1200px */
@media (max-width: 1200px) {
    .entry {
        padding-left: 60px;
        padding-right: 60px;
    }

    .entry-header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .title,
    .date-location {
        width: 100%;
        text-align: center;
    }
}

/* Styles for screens smaller than 1000px */
@media (max-width: 1000px) {
    .entry {
        padding-left: 20px;
        padding-right: 20px;
    }

    .entry-header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .title,
    .date-location {
        width: 100%;
        text-align: center;
    }
}


/* Styles for screens smaller than 730px */
@media (max-width: 730px) {

    body,
    html {
        font-size: 1.01em;
    }

    .entry {
        padding-left: 20px;
        padding-right: 20px;
    }

    .entry-header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .title,
    .date-location {
        width: 100%;
        text-align: center;
    }
}

/* Styles for screens smaller than 550px */
@media (max-width: 550px) {
    .tabs {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Center the tabs vertically */
        margin-bottom: 20px;
        /* Add margin between tabs */
    }

    .tab {
        margin: 10px 0;
        /* Add margin between tabs */
        width: 35%;
        /* Make tabs take full width */
        text-align: center;
    }

    .entry {
        padding-left: 10px;
        /* Adjust padding as needed */
        padding-right: 10px;
        /* Adjust padding as needed */
    }

    .entry-header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .title,
    .date-location {
        width: 100%;
        text-align: center;
    }

    .profile-links {
        bottom: 10px;
        right: 10px;
    }

    .dropdown-content video,
    .dropdown-content img {
        max-width: 90%;
        /* Make videos and images fit within the screen */
        height: auto;
        /* Maintain aspect ratio */
        margin: 10px 0;
        /* Add margin to separate them from other content */
    }
}

.music-description {
    text-align: center;
    padding: 0 40px;
    opacity: 1;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.music-description.fade-out {
    opacity: 0;
    transform: translateY(-10px);
    /* Move up slightly */
}

.music-description.fade-in {
    opacity: 1;
    transform: translateY(0);
    /* Move back to original position */
}

#blurb {
    text-align: center;
    margin-bottom: 20px;
    padding: 0 20px;
    font-size: 1em;
    color: #00ff00;
    /* or any color that fits your theme */
    opacity: 1;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    padding-left: 65px;
    padding-right: 65px;
}

#blurb.fade-out {
    opacity: 0;
    transform: translateY(-10px);
    /* Move up slightly */
}

#blurb.fade-in {
    opacity: 1;
    transform: translateY(0);
    /* Move back to original position */
}

.project-description ul {
    font-size: 0.7em;
    /* Adjust the size as needed */
    margin-left: 20px;
    /* Optional: Adjust the margin for better alignment */
}

.project-description li {
    margin-bottom: 5px;
    /* Optional: Add some space between list items */
}


.carousel-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    /* Adjust as needed */
    margin: auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 500px;
    /* Adjust as needed */
    height: auto;
    display: none;
    /* Hide all images initially */
    z-index: 2;
}

.carousel-slide img:first-child {
    display: block;
    /* Show the first image initially */
}

.slider-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
    /* Allow clicks to pass through */
    z-index: 10;
    /* Ensure the controls are on top of other elements */
}

.prev,
.next {
    cursor: pointer;
    background-color: rgba(37, 36, 36, 0.5);
    /* Slightly transparent background for visibility */
    color: white;
    border: none;
    padding: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
    pointer-events: auto;
    /* Enable clicks on buttons */
    z-index: 10;
    /* Ensure the buttons are on top of other elements */
}

.prev {
    position: absolute;
    left: 0;
    /* Align the button to the left edge of the container */
    transform: translateX(-25%);
    /* Move the button slightly outside the image */
}

.next {
    position: absolute;
    right: 0;
    /* Align the button to the right edge of the container */
    transform: translateX(25%);
    /* Move the button slightly outside the image */
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 255, 0, 0.7);
    /* Change background color on hover */
}

#about-me-blurb {
    text-align: center;
    margin-bottom: 20px;
    transition: opacity 0.5s ease-out;
    /* Add transition for fade effect */
}

#more-about-me {
    transition: opacity 0.5s ease-out;
    transform: scale(0.8);
    transform-origin: top center;
    height: auto;
    min-height: auto;
    max-height: none;
    overflow: visible;
}

#about-me-blurb {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.01em;
    /* Reduce font size to 80% */
    line-height: 1.5;
    /* Adjust line height for better readability */
}

.gallery-wrapper {
    position: relative;
    padding-bottom: 100px;
    z-index: 1;
}

.gallery-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: relative;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    /* Adjust this value as needed */
    max-height: 110vh; /* Adjust this value as needed */
    transform: scale(0.7);
    transform-origin: top center;
    position: relative;
    height: auto;
    margin-bottom: 100px;
}

.left-column {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    height: 100%;
    position: relative;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.gallery-image {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-play-state: paused;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.center-image {
    grid-column: 2;
    grid-row: 1 / span 3;
    height: 100%;
}

@media (max-width: 768px) {
    .profile-links {
        position: static;
        bottom: auto;
        right: auto;
        text-align: center;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .profile-links a {
        display: inline-block;
        margin: 5px 10px;
    }

    .profile-links .expand-arrow {
        display: none;
    }

    .image-gallery {
        grid-template-columns: 1fr;
        transform: scale(0.9);
        max-height: 30vh; /* Adjust this value as needed */
    }

    .center-image {
        grid-column: 1;
        grid-row: auto;
        height: 100%;
    }

    .left-column {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}


.container * {
    position: relative; /* Temporary, to catch any absolute positioning */
}
